body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent; 
}

.main-content {
    position: relative; /* Définit le conteneur comme relatif pour positionner l'enfant par rapport à lui */
    background-color: #254969; /* Couleur de fond du contenu principal */
    border-radius: 40px;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    box-sizing: border-box; /* Inclure padding et border dans les dimensions totales */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centre le texte et les éléments inline */
}
.header {
    width: 100%;
    display: flex;
   justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px; /* Ajouter du padding pour éviter que les éléments soient collés aux bords */
}
.header .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header.img{
    max-width: 100px;
    margin: 10px 20px 10px 0; /* Ajuster les marges pour le logo */
}
.header button{
    flex: 1;
    color: #fd503f;
    font-size: 40px;
    margin: 20px 0 10px 200px; /* Ajuster les marges pour le bouton */

}
.container-carrousel{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.carousel-inner {
    width: 100%;
    height: auto;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container-form{
    position: absolute;
    width: 100%;
    height: 56vh;
   /* flex: 1;*/
    background-color: #ffffff;
    bottom: 0; /* Aligne la div enfant au bas de la div parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:none;
}
h3{
    font-size: 24px;
    font-weight: 900;
    color: #254969; 
    margin-top: 10px;
 }

form div{
    position: relative;
    margin-bottom: 10px;
}

label{
    display: block;
    margin-right: 30%;
    margin-top: 20px;
    font-size: 20px;

}
form div input{
    width: 80%;
    height: 8vh;
    border-radius: 50px;
    outline: none;
    padding: 0 30px;
    background-color: #DDE1E4;
    border: none; /* Supprime la bordure */
}
button{
    background-color: #fd503f;
    width: 80%;
    height: 8vh;
    border-radius: 50px;
    font-weight: 900;
    color: #ffffff;
    font-size: 20px;
    margin-top: 24px;
    border: none; /* Supprime la bordure */
}

