body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent; 
}

.main-content1 {
    position: relative; /* Définit le conteneur comme relatif pour positionner l'enfant par rapport à lui */
    background-color: #254969; /* Couleur de fond du contenu principal */
    border-radius: 40px;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    box-sizing: border-box; /* Inclure padding et border dans les dimensions totales */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centre le texte et les éléments inline */


}
.image1{
    flex: 1; /* Permet au contenu principal de prendre l'espace restant */
    margin-top: 20px;
    margin-left:10%;
}
.container-form{
    position: absolute;
    width: 100%;
    height: 60vh;
    background-color: #ffffff;
    border-radius: 40px;
    bottom: 0; /* Aligne la div enfant au bas de la div parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form div{
    position: relative;
    margin-bottom: 10px;
}

label{
    display: block;
    margin-bottom: 15px;
    margin-right: 50%;

}
form div input{
    width: 70%;
    height: 8vh;
    border-radius: 50px;
    outline: none;
    padding: 0 30px;
    background-color: #DDE1E4;
    border: none; /* Supprime la bordure */
}
button.button1{
    background-color: #fd503f;
    width: 329px;
    height: 55px;
    border-radius: 50px;
    font-weight: 900;
    color: #ffffff;
    font-size: 18px;
    margin-top: 30px;
    border: none; /* Supprime la bordure */
}
p.para{
    margin-top: 20px;
}
a.lien1{
    color:#fd503f
}
